* {
    box-sizing: border-box;
}

header h1 {
    text-align: center;
    margin-bottom: 0px;
}

nav {
    display: inline-block;
    position: fixed;
    height: 100vh;
    top: 25px;
    overflow-y: scroll;
    transform: translateX(-25px);
    padding-bottom: 25px;
}

ul li {
    margin: 5px 0;
}

nav::-webkit-scrollbar {
    display: none;
}

main {
    width: 80%;
    float: right;
}

body {
    max-width: 1440px;
    background-color: rgb(21, 21, 21);
    margin: 0 auto;
    padding: 25px 50px;
    font-family: Heebo;
    color: rgb(255, 255, 255);
}

article {
    border-radius: 25px;
    /*background-color: rgb(30, 30, 30);*/
    /*padding: 50px 50px 50px 50px;*/
    margin: 25px 0px 200px 0px;
}

.usefulLinks {
    background-color: rgb(30, 35, 40);
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    border-color: rgb(35, 40, 45);
    padding: 40px 25px 15px 25px;
    margin-top: 25px;
}

.usefulLinks h4 {
    margin: 0px;
}

.warning{
    background-color: hsl(39, 100%, 15%);
    border: 2px solid hsl(39, 100%, 10%);
    border-radius: 10px;
    padding: 2.5px 15px 2.5px 15px;
    display: inline-block;
}

.warning p{
    margin: 0px;
}


/* Code Box - Start */

pre {
    background-color: rgb(30, 35, 30);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(35, 40, 35);
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

pre code {
    background-color: rgb(30, 35, 30);
}

code {
    background-color: rgb(40, 45, 40);
    border-radius: 5px;
    font-size: 16px;
    padding: 2.5px 5px;
    font-family: 'Courier Prime', monospace;
    line-height: 1.5;
}

code .comment {
    color: rgb(100, 100, 100);
}


/* Code Box - End*/

section {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(35, 35, 35);
    background-color: rgb(25, 25, 25);
    border-radius: 25px;
    padding: 25px 25px 25px 25px;
    margin: 50px 0px;
}

section section {
    border-color: rgb(40, 40, 40);
    background-color: rgb(30, 30, 30);
    margin: 25px 0px 0px 0px;
}

section p {
    /*margin: 5px 0px;*/ 
    line-height: 1.75;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(79, 201, 79);
    color: white;
    background-color: rgb(79, 201, 79);
}

button:hover {
    background-color: rgb(52, 136, 52);
    border: 2px solid rgb(79, 201, 79);
    cursor: pointer;
}

button:active {
    background-color: rgba(0,0,0,0);
    color: rgb(88, 182, 88);
}

a {
    color: rgb(200, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(234, 253, 253);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: .5;
    margin: 30px 0px 15px 0px;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 275%;
    margin: 15px 0px 20px 0px;
}

h4 {
    font-size: 175%;
    margin: 40px 0px 15px 0px;
}

h5 {
    font-size: 125%;
    margin: 40px 0px 15px 0px;
}

h6 {
    font-size: 100%;
}

nav ol {
    counter-reset: item;
    color: rgb(200, 255, 255);
}

nav ol li {
    display: block
}

nav ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

ol ol {
    padding-left: 20px;
}

#BM-boxModel p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BM-margin {
    background-color: rgb(180, 60, 60);
    padding: 37px;
    padding-top: 0;
    border-radius: 25px;
}

#BM-border {
    background-color: rgb(88, 88, 88);
    padding: 37px;
    padding-top: 0;
    border-radius: 25px;
}

#BM-padding {
    background-color: rgb(88, 182, 88);
    padding: 37px;
    padding-top: 0;
    border-radius: 25px;
}

#BM-content {
    background-color: rgb(104, 159, 214);
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}